<style>

body {
  margin: 0;
  font-weight: 500;

}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  }

 .footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;}

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


{% if user.is_authenticated %}
{%if is_author %}

<nav class="navbar navbar-inverse">
    <div calss="navbar-header">
            <a class="navbar-brand"  href="{% url 'index' %}">SAM2018</a>
            <a class="nav navbar-brand "  href="{% url 'logout' %}">Logout</a>
    </div>
</nav>

    <div class="container">

        <h3>Welcome, {{user.first_name}}!</h3>
        <p>Your role is {{groups}}</p>
        <hr style="border:1px solid black">

     {% if not allowed %}
         <div class="alert alert-danger" role="alert">
            <p>You don't have any new papers to assign !!</p>
         </div>
     {% endif %}

    {% if allowed %}
    {% csrf_token %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}{% csrf_token %}


                        <label>{{form.title.label}}</label>
                        {{form.title}} <br>
                        <label>{{form.upload.label}}</label>
                        {{form.uplaod}} <br>
                        <label>{{form.authorName.label}}</label>
                        {{form.authorName}} <br>
                        <label>{{form.version.label}}</label>
                        {{form.version}} <br>
                        <label>{{form.contact.label}}</label>
                        {{form.contact}} <br>

        <button type="submit">Submit Paper</button>
    </form>

        {% if uploaded %}
           <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
    $(document).ready(function(){
        function myFunction(){
            alert("ede")
        }
    })

</script>
            <div  onload="myFunction()"class="alert alert-success" role="alert">
            <p>You don't have any new papers to assign !!</p>
         </div>
        {% endif %}

    {% endif %}

</div>

<br>
<br>
<br>
    <!-- list the author papers and access -->
<div class="container">
<hr style="border:1px solid black">

            <h2>Paper submitted: </h2>
                {% for n in paper %}
                    <input type="checkbox" name="PAPER" value={{ n.id }}> <a href="{% url 'view_paper_url' n.id  %}"> {{n.title}} || The Author: {{n.user.first_name}}</a><br>
                {% endfor %}

<br>
<br>
<br>
</div> <!-- container -->
{% endif %} <!-- if the user is author -->
{% endif %}  <!-- if user is_authenticated -->
</body>
</html>