<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>



		<div class="container">
            {% if is_pcc or is_author %}
			<div class="row main">
				<div class="panel-heading">
                    <a href="{% url 'logout' %}">Logout?</a>
	               <div class="panel-title text-center">
	               		<div id="legend">
                            <legend class=""><h2>SAM2018</h2></legend>
                        </div>
	               	</div>
	            </div>
            {% endif %}

          {% if user.is_authenticated %}
          <h3>Welcome, {{user.first_name}}!</h3>
          <p>Your role is {{groups}}</p>


          {% if is_pcc %}

              <p>Notifications: </p>
                    {% if NumNotifications > 0 %}
                            <div class="alert alert-success" role="alert">
                                <p>You have {{NumNotifications}} new Papers to assign!</p>
                                {% for n in notification %}
                                      <ul>
                                            <li><a href="{% url 'view_paper_url' n.paper.id  %}">{{n.paper.title}} || The Author: {{n.paper.user.first_name}}<a></li>
                                      </ul>
                                {% endfor %}
                            </div>
                    {% else %}

                        <div class="alert alert-info" role="alert">
                                <p>You don't have any new papers to assign !!</p>

                        </div>
                        <h3>Check the authors papers :</h3>
                        <form method=" ">

                        {% for n in papers %}
                            <input type="checkbox" name="PAPER" value={{ n.id }}> <a href="{% url 'view_paper_url' n.id  %}">{{n.title}} || The Author: {{n.user.first_name}}</a><br>
                        {% endfor %}
                        <br>

                        <input type="submit" class="btn btn-success" value="Assign paper">
                    </form>
                    {% endif %}
              <hr>
          {% endif %}



          {% if is_author %}
          <div class="main-login main-center">
            {% csrf_token %}
  					<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
              {% csrf_token %}
  						<div class="form-group">
  							<div class="cols-sm-10">
  								<div class="input-group text-center">
                        {{form}}
                      <button type="submit">Submit Paper</button>
  								</div>
  							</div>
  						</div>
  					</form>
  				</div>
          {% endif %}

          {% else %}





              <div class="main-login main-center">
          {% csrf_token %}
					<form class="form-horizontal" method="post">{% csrf_token %}
            {% csrf_token %}


						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>


						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
						</div>

					</form>
				</div>
        <h2 class="text-center">Or..  <a href="{% url 'signup' %}">Signup</a></h2>
        {% endif %}
      </div>
		</div>

    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>
