<style>

body {
    margin: 0;


}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  }

 .footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;}

.card {
    float: left;
    }
</style>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCC DASHBOARD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<script>

    $(document).ready(function(){



        setInterval( SAMGetJSON, 1000 );

        function SAMGetJSON () {
            var data = {"role":"PCC","username":"{{userData.username}}"}

              $.getJSON("notification",data, function(result){

               $.each(result, function(i, field){
                                       $("#not").html("")

              $.each(field, function(i, field) {
                      if (field['title']){

                          $("#not").append("<br /> <div class='alert  alert-info ' id ='"+field['id']+"'><strong>Info! </strong>  "+field['title']+"  "+"<a href='#' class='alert-link'>"+field['text']+" </div></b>");

                      }else if (field['PaperTitle']){
                          $("#not").append("<br /> <div class='alert  alert-info ' id ='"+field['id']+"'><strong>Info! </strong>  "+field['PaperTitle']+"  "+"<a href='#' class='alert-link'>"+field['text']+" </div></b>");

                      }


                  });


                  });
            });
        }

    function test() {
        alert( "Handler for .click() called." );
        };





    });
</script>


         <nav class="navbar navbar-inverse">
                <div calss="navbar-header">
				    <a class="navbar-brand"  href="{% url 'index' %}">SAM2018</a>
                    <a class="nav navbar-brand"  href="{% url 'view_reports' %}">List Reports</a>
				    <a class="nav navbar-brand"  href="{% url 'view_reviewed_papers' %}">Generate Reports</a>
				    <a class="nav navbar-brand"  href="{% url 'logout' %}">Logout</a>
                </div>
           </nav>
        <h1> PCC Dashboard </h1>



        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">SAM2018</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'view_reports' %}">List Reports</a></li>
              <li><a href="{% url 'view_reviewed_papers' %}">Generate Reports</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </nav>

         <div class="container">


         <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-3">Welcome, {{user.first_name}}!</h1>
                <p class="lead">Your role is {{groups}}</p>
              </div>
        </div>
          <div>
            {% if messages %}
                {% for message in messages %}
            <div class="alert alert-success">
                <strong>Success!</strong>  {{ message }}
            </div>
                {% endfor %}
            {% endif %}
        </div>

         <div id="not" class="border-box-sizing default">


           </div>



          <form  name="assign" method="POST">
                    {% csrf_token %}

                                <p><h4> Select a paper you wish to assign: </h4></p>

                                {% for item in papers %}

                                    <div class="panel panel-default">
                                          <div class="panel-heading"><input type="radio" name="paper_id" value={{ item.id }}> {{item.title}}</div>
                                        <div class="panel-body"><strong> Submitted by:</strong> {{item.user.first_name}}</div>
                                    </div>
                                {% endfor %}

                        <hr style="border:1px solid black">

                        <h4> Select three evaluators or PCMs:</h4>

                                {% for item in evaluators %}
                                <div class="panel panel-info">
                                    <div class="panel-heading"><input type="checkbox" name="pcm_list" value={{ item.id }}> {{item.first_name}} {{item.last_name}}</div>
                                                    <div class="panel-body">
                                                        <P><strong>Favorite paper by</strong> {{item.first_name}}</P>
                                                            <ul>
                                                            {% for f in favoritePaper %}
                                                                {% if f.pcm.id == item.id  %}

                                                                 <li> {{ f.papers.title }}</li>

                                                                {% endif %}
                                                             {% endfor %}
                                                            </ul>
                                                    </div>
                                </div>               <hr>
                                {% endfor %}
                                {{evaluators.first_name}}

            <input type="submit" class="btn btn-success" value="Assign Paper">
            </form>

       



  </div> <!-- container -->
</body>
</html>
