<style>

body {
  margin: 0;
  font-weight: 500;

}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  }

 .footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;}

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCM Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


{% if user.is_authenticated %}
{%if is_pcm %}

<nav class="navbar navbar-inverse">
    <div calss="navbar-header">
            <a class="navbar-brand"  href="{% url 'index' %}">SAM2018</a>
            <a class="nav navbar-brand "  href="{% url 'logout' %}">Logout</a>
    </div>
</nav>

    <div class="container">

        <h3>Welcome, {{user.first_name}}!</h3>
        <p>Your role is {{groups}}</p>
        <hr style="border:1px solid black">

    {% csrf_token %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}{% csrf_token %}


                        <label>{{form.title.label}}</label>
                        {{form.title}} <br>
                        <label>{{form.upload.label}}</label>
                        {{form.uplaod}} <br>
                        <label>{{form.authorName.label}}</label>
                        {{form.authorName}} <br>
                        <label>{{form.version.label}}</label>
                        {{form.version}} <br>
                        <label>{{form.contact.label}}</label>
                        {{form.contact}} <br>

        <button type="submit">Submit Paper</button>

    </form>

        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}

  <p3>Your deadline to submit a paper is <i>{{deadline.date}}</i></p3>

</div>



<br>
<br>
<br>
    <form name="FavoritePapers" method="post">
            {% csrf_token %}
            <div>
                <p><h4> Select the papers you wish to review: </h4></p>

                {% for item in papers %}
                <input type="checkbox" name="paper_id" value={{ item.id }}> {{item.title}} || Submitted by: {{item.user.first_name}} <br>
                {% endfor %}
            </div>
<br><br>
            <input type="submit" class="btn btn-success" value="Favorite Papers">
    </form>


</div> <!-- container -->
<div class="container">

    <h3>You are assigned to these papers: </h3>
    <hr style="border:1px solid black">


            <h2>Active Item in a List Group</h2>
            {% for n in reviews %}
               <div class="list-group">
                     <input type="checkbox" name="PAPER" value={{ n.paper.id }}> <a href="{% url 'view_paper_url' n.paper.id  %}">{{n.paper.title}} || The Author: {{n.paper.user.first_name}}</a><br>
                </div>
            {% endfor %}

        <br>
        <br>
        <br>

</div> <!-- container -->

<div class="footer">This footer will always be positioned at the bottom of the page, but <strong>not fixed</strong>.</div>
{% endif %} <!-- if the user is author -->
{% endif %}  <!-- if user is_authenticated -->
</body>
</html>