<style>
	body {
    background: #FF5F6D;
    background: linear-gradient(to right,#FFC371,#FF5F6D);
    padding:0px;

}

    footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;}

</style>

<html lang="en">
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
                <div calss="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">SAM2018</a>
                </div>
           </nav>


<div class="container">


{% csrf_token %}
<form class="form-horizontal"  method="POST">
    {% csrf_token %}

  {% csrf_token %}

    <fieldset>
            <div id="legend">
                    <legend class=""><h2>Signup Form</h2></legend>
            </div>

        <div class="control-group">
              <!-- E-mail -->
              <label class="control-label" for="email">First Name</label>
                      <div class="controls">
                        {{form.first_name}}
                          <p class="help-block">Please Enter your first name</p>
                      </div>
        </div>


        <div class="control-group">
              <!-- E-mail -->
              <label class="control-label" for="email">Last Name</label>
                      <div class="controls">
                        {{form.last_name}}
                          <p class="help-block">Please Enter your last name</p>
                      </div>
        </div>


    <div class="control-group">
      <!-- Username -->
            <label class="control-label"  for="username">Username</label>
                <div class="controls">
                    {{form.username}}
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        {{form.email}}
          <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        {{form.password1}}
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        {{form.password2}}
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>

</form>

</div>

<footer>Copyright &copy; Group 4</footer>

</body>
</html>
