<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>


    {% if form.errors %}
        {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

    {% endif %}


          {% if user.is_authenticated %}

<div align="center">
           <div class="container">
          <h1>view paper</h1>
          <br>
          <br>
          <h3><strong>Title: </strong>{{paper.title}}</h3>
          <h3><strong>Author: </strong>{{paper.user.username}}</h3>
          <p>Uplaod date: {{paper.date}}</p>
          <h3><strong>Download: </strong><a href="{{paper.uplaod.url}}" target='_blank'>download</a>

              {% if role == 'PCM' %}
                  <h3><strong>Title: </strong>{{paper.title}}</h3>
                  <p>Download: <a href="{{paper.uplaod.url}}" target='_blank'> Click to download </a></p>
              {% endif %}

          <hr>
          <a href="/" class="btn btn-primary">Back to the dashboard</a>
          {% endif %}
    </div>

    </div>

    </div>

	</body>
</html>
