<style>

body {
  margin: 0;
  font-weight: 500;

}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  }

 .footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;}

.card {
    float: left;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Reviewed Papers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

        {% if is_pcc %}
         <nav class="navbar navbar-inverse">
                <div calss="navbar-header">
				    <a class="navbar-brand" href="{% url 'index' %}">SAM2018</a>
				    <a class="nav navbar-brand"  href="">List Reports</a>
				    <a class="nav navbar-brand"  href="{% url 'view_reviewed_papers' %}">Generate Report</a>
				    <a class="nav navbar-brand"  href="{% url 'logout' %}">Logout</a>
                </div>
           </nav>
        {% endif %}

        <h1> List of Reviewed Papers </h1>

        <form name="assign" method="post">
            {% csrf_token %}
            <div>
                {% for item in paper_reviews %}
                <input type="radio" name="paper_id" value={{ item.id }}> {{item.title}} || Submitted by: {{item.user.first_name}} <br>
                {% endfor %}
            </div>
            <br><br>

        </form>


        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
</body>
</html>
